* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Font sizes */
    --smaller-font-size: 1,2em;
    --base-font-size: 1.6rem;
    --bigger-font-size: 2rem;

    /* Font weights */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* Colors */
    --color-primary: orange;

    /* Hamburger */
    --hamburger-display: block;

    /* Grid */
    --gutter-size: 2rem;
    --breapoint-row-col-width: 100%;
}

@media (min-width: 800px) {
    :root {
        --hamburger-display: none;
    }
}

@media (min-width: 1200px) {
    :root {
        --breapoint-row-col-width: 50%;
        --gutter-size: 1rem;
    }
}

html {
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 62.5%;
}

body {
    font-size: var(--base-font-size);
}

/*****  reusable *****/
.container {
    max-width: 1400px;
    margin: 0 auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.Row {
    display: flex;
    flex-wrap: wrap;
}

.Row__col {
    width: calc(var(--breapoint-row-col-width) - var(--gutter-size));
    padding: var(--gutter-size);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.BasicHeading {
    text-align: center;
    margin-top: 20px;
}

.BasicHeading:after {
    display: block;
    content: "";
    width: 200px;
    border: 1px solid #3567e1;
    margin: 0 auto 20px 0;
}


/*****  header *****/

#logo img {
    display: block;
    width: 250px;
    position: absolute;
    top: 5%;
    z-index: 1000;
}

.Header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("./images/skola.jpg");
    height: 100vh;
    background-size: cover;
    letter-spacing: 1px;

}

.Header-list {
    background: unset;
    height: 120px;
}

.Header-list .Navigation {
    color: black;
}


/* Navigace */
.Navigation.Navigation-mobileOpened ul {
    transform: translateY(0);
}

.Navigation li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10%;
    text-transform: uppercase;
}

.Navigation li a {
    color: inherit;
    font-size: var(--bigger-font-size);
    text-decoration: none;
    transition: 0.5s;
}

.Navigation li a:hover, .Navigation li a:active {
    border-bottom: 2px solid #0e255e;
}

@media (min-width: 800px) {
    .Navigation {
        display: block;
        float: right;
        color: white;
    }
}

@media (max-width: 799px) {
    .Navigation ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        transform: translateY(-100%);
        z-index: 1000;
        color: white;
        transition: all 0.5s;
    }

}

/* Navigace hamburger */
.Navigation__hamburger {
    display: var(--hamburger-display);
    width: 3.125rem;
    height: 1.875rem;
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 1001;
    cursor: pointer;
}

.Navigation__hamburger span {
    position: absolute;
    display: block;
    height: 0.3rem;
    border-radius: 4px;
    background: black;
    width: 100%;
    transition: all 0.4s ease-in-out;
}

.Navigation__hamburger-hp span {
    background-color: white;
}

.Navigation__hamburger span:nth-of-type(1) {
    top: 0;
    left: 0;
}

.Navigation__hamburger span:nth-of-type(2) {
    top: 0.9375rem;
    left: 0;
}

.Navigation__hamburger span:nth-of-type(3) {
    top: 0.9375rem;
    left: 0;
    opacity: 0;
}

.Navigation__hamburger span:nth-of-type(4) {
    top: 1.875rem;
    left: 0;
}

.Navigation.Navigation-mobileOpened .Navigation__hamburger span {
    background-color: white;
}

.Navigation.Navigation-mobileOpened .Navigation__hamburger span:nth-of-type(1) {
    opacity: 0;
    transform: rotate(45deg);
}

.Navigation.Navigation-mobileOpened .Navigation__hamburger span:nth-of-type(2) {
    transform: rotate(45deg);
}

.Navigation.Navigation-mobileOpened .Navigation__hamburger span:nth-of-type(3) {
    opacity: 1;
    transform: rotate(-45deg);
}

.Navigation.Navigation-mobileOpened .Navigation__hamburger span:nth-of-type(4) {
    opacity: 0;
    transform: rotate(-45deg);
}

/* Navigace end */

.SocialLinks {
    position: absolute;
    top: 50%;
    left: 16%;
    transform: translate(-10%, -40%);
    letter-spacing: 3px;
    color: white;
}

.SocialLinks a {
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    border: 1px solid #3567e1;
    background-color: #3567e1;
    padding: 10px 35px;
    border-radius: 15px;
    color: inherit;
}

.SocialLinks__title {
    font-size: 60px;
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
}

.SocialLinks a:hover, .SocialLinks a:active {
    background-color: #0e255e;
    border: 1px solid #0e255e;
    transition: 0.5s;
}

/****** main *****/
.Benefits {
    margin-bottom: 50px;
}

.Benefits p {
    margin-left: 70px;
    font-size: var(--bigger-font-size);
    padding-top: 15px;
}

.Benefits > div > div {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 50%;
    text-align: center;
    padding: 15px;
    float: left;
}

.Benefits__grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [col] 100px [col] 100px [col] 100px [col] 100px;
    grid-template-rows: [row] auto [row] auto [row];
}

.Benefits__grid__item {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.Benefits__grid__item-love {
    grid-column: col / span 2;
    grid-row: row;
}

.Benefits__grid__item-ingredients {
    grid-column: col 3 / span 2;
    grid-row: row;
}

.Benefits__grid__item-experience {
    grid-column: col;
    grid-row: row 2;
}

.Benefits__grid__item-own {
    grid-column: col 2 / span 3;
    grid-row: row 2;
}

.Benefits__grid__item-customers {
    grid-column: col / span 4;
    grid-row: row 3;
}

/****** REFERENCE ******/
.Reference {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url("/images/skola.jpg");
    height: 200px;
}

.Reference h1 {
    color: #fff;
    padding-top: 40px;
}

.Reference h1::after {
    display: block;
    content: "";
    width: 400px;
}

.Form {
    max-width: 900px;
    width: 100%;
}

.Form input, .Form textarea {
    width: 100%;
    margin: 10px 0;
    border: 2px solid #3567e1;
    padding: 10px 0 10px 5px;
    border-radius: 10px;
}

.Form label {
    width: 100%;
    text-align: left;
}

.Form input[type="submit"] {
    background-color: #fff;

}

.Footer {
    padding: 20px;
    text-align: center;
}

/* Separate pages */

.NewsItem {
    position: relative;
}

.NewsItem__caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    transition: all 0.5s;
    color: white;
    font-weight: var(--font-weight-bold);
    font-size: var(--bigger-font-size);
    background-color: orange;
    padding: 10px;
}

.NewsItem__caption-onHover {
    opacity: 0;
    font-weight: var(--font-weight-normal);
}

.NewsItem:hover .NewsItem__caption-onHover {
    opacity: 1;
}

/* Zamestnanci */

.EmployeeItems {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 30px;
}

.EmployeeItems__name {
    font-size: var(--bigger-font-size);
    font-weight: 700;

}

.EmployeeHead {
    margin-top: 200px;
    text-align: center;
    padding-bottom: 20px;
    font-size: 40px;
}

.EmployeeCard {
    padding: 20px;
    box-shadow: orange 10px 10px 40px;
    margin: 20px;
    max-width: 550px;
}

.EmployeePost {
    font-size: var(--smaller-font-size);
    font-weight: 200;
    padding-left: 2%;
}
