* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Font sizes */
    --smaller-font-size: 1, 2em;
    --base-font-size: 1.6rem;
    --bigger-font-size: 2rem;

    /* Font weights */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* Colors */
    --color-primary: orange;

    /* Hamburger */
    --hamburger-display: block;

    /* Header */
    --header-logo-width: 80px;
    --header-logo-top: 5px;
    --header-logo-left: 5px;
    --navigation-color: white;

    /* Grid */
    --gutter-size: 2rem;
    --breapoint-row-col-width: 100%;
    --breakpoint-row-col-width-75: 100%;
    --breakpoint-row-col-width-25: 100%;
}

@media (min-width: 800px) {
    :root {
        --hamburger-display: none;
        --header-logo-width: 150px;
        --header-logo-top: 5%;
        --header-logo-left: 30px;
    }
}

@media (min-width: 1200px) {
    :root {
        --breapoint-row-col-width: 50%;
        --breakpoint-row-col-width-75: 75%;
        --breakpoint-row-col-width-25: 25%;
        --gutter-size: 1rem;
        --header-logo-width: 250px;
    }
}

html {
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 62.5%;
}

body {
    font-size: var(--base-font-size);
}

/*****  reusable *****/
.container {
    max-width: 1400px;
    margin: 0 auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.Row {
    display: flex;
    flex-wrap: wrap;
}

.Row__col {
    width: calc(var(--breapoint-row-col-width) - var(--gutter-size));
    padding: var(--gutter-size);
}

.Row__col-75 {
    width: calc(var(--breakpoint-row-col-width-75) - var(--gutter-size));
    padding: var(--gutter-size);
}

.Row__col-25 {
    width: calc(var(--breakpoint-row-col-width-25) - var(--gutter-size));
    padding: var(--gutter-size);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.BasicHeading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.MainHeading {
    text-align: center;
    padding-bottom: 20px;
    font-size: 40px;
}
@media (min-width: 800px) {
    .MainHeading {
        margin-top: 100px;
    }
}


/*****  header *****/
.Header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("./images/pizza.webp");
    height: 70vh;
    background-size: cover;
    letter-spacing: 1px;
}

.HeaderList {
    background: unset;
    height: 150px;
}

.HeaderList .Navigation {
    --navigation-color: black;
    color: black;
}

.Header__logo img {
    display: block;
    width: var(--header-logo-width);
    position: absolute;
    top: var(--header-logo-top);
    left: var(--header-logo-left);
    z-index: 1000;
}

@media (min-width: 800px) {
    .Header {
        height: 100vh;
    }
}

@media (max-height: 720px) {
    .Header {
        height: 100vh;
    }
}

/* Navigace */
.Navigation.Navigation-mobileOpened ul {
    transform: translateY(0);
}

.Navigation li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10%;
    text-transform: uppercase;
}

.Navigation li a {
    color: inherit;
    font-size: var(--bigger-font-size);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    transition: 0.5s;
}

.Navigation li a:hover, .Navigation li a:active, .Navigation__item-active {
    border-bottom: 2px solid var(--navigation-color);
}

@media (min-width: 800px) {
    .Navigation {
        display: block;
        float: right;
        color: white;
    }
}

@media (max-width: 799px) {
    .Navigation ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        transform: translateY(-100%);
        z-index: 1000;
        color: white;
        transition: all 0.5s;
    }
}

/* Navigace hamburger */
.Navigation__hamburger {
    display: var(--hamburger-display);
    width: 3.125rem;
    height: 1.875rem;
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 1001;
    cursor: pointer;
}

.Navigation__hamburger span {
    position: absolute;
    display: block;
    height: 0.3rem;
    border-radius: 4px;
    background: black;
    width: 100%;
    transition: all 0.4s ease-in-out;
}

.Navigation__hamburger-hp span {
    background-color: white;
}

.Navigation__hamburger span:nth-of-type(1) {
    top: 0;
    left: 0;
}

.Navigation__hamburger span:nth-of-type(2) {
    top: 0.9375rem;
    left: 0;
}

.Navigation__hamburger span:nth-of-type(3) {
    top: 0.9375rem;
    left: 0;
    opacity: 0;
}

.Navigation__hamburger span:nth-of-type(4) {
    top: 1.875rem;
    left: 0;
}

.Navigation.Navigation-mobileOpened .Navigation__hamburger span {
    background-color: white;
}

.Navigation.Navigation-mobileOpened .Navigation__hamburger span:nth-of-type(1) {
    opacity: 0;
    transform: rotate(45deg);
}

.Navigation.Navigation-mobileOpened .Navigation__hamburger span:nth-of-type(2) {
    transform: rotate(45deg);
}

.Navigation.Navigation-mobileOpened .Navigation__hamburger span:nth-of-type(3) {
    opacity: 1;
    transform: rotate(-45deg);
}

.Navigation.Navigation-mobileOpened .Navigation__hamburger span:nth-of-type(4) {
    opacity: 0;
    transform: rotate(-45deg);
}

/* Navigace end */

.SocialLinks {
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translate(-10%, -40%);
    letter-spacing: 3px;
    color: white;
}

.SocialLinks a {
    margin: 1rem;
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    border: 1px solid #3567e1;
    background-color: #3567e1;
    padding: 10px 35px;
    border-radius: 15px;
    color: inherit;
}

.SocialLinks__title {
    font-size: 60px;
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
}

.SocialLinks a:hover, .SocialLinks a:active {
    background-color: #0e255e;
    border: 1px solid #0e255e;
    transition: 0.5s;
}

@media (min-width: 800px) {
    .SocialLinks {
        top: 50%;
        left: 16%;
    }
}

@media (max-height: 720px) {
    .SocialLinks {
        top: 50%;
    }
}

/****** main *****/
.Benefits {
    margin-bottom: 50px;
}

.Benefits p {
    margin-left: 70px;
    font-size: var(--bigger-font-size);
    padding-top: 15px;
}

.Benefits > div > div {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 50%;
    text-align: center;
    padding: 15px;
    float: left;
    margin-bottom: 15px;
}

.Benefits__grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
}

.Benefits__grid__item {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

@media (min-width: 800px) {
    .Benefits__grid {
        grid-template-columns: [col] 100px [col] 100px [col] 100px [col] 100px;
        grid-template-rows: [row] auto [row] auto [row];
    }

    .Benefits__grid__item-love {
        grid-column: col / span 2;
        grid-row: row;
    }

    .Benefits__grid__item-ingredients {
        grid-column: col 3 / span 2;
        grid-row: row;
    }

    .Benefits__grid__item-experience {
        grid-column: col;
        grid-row: row 2;
    }

    .Benefits__grid__item-own {
        grid-column: col 2 / span 3;
        grid-row: row 2;
    }

    .Benefits__grid__item-customers {
        grid-column: col / span 4;
        grid-row: row 3;
    }
}

/****** REFERENCE ******/
.Reference {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url("/images/pizza.webp");
    height: 200px;
}

.Reference h1 {
    color: #fff;
    padding-top: 40px;
}

.Reference h1::after {
    display: block;
    content: "";
    width: 400px;
}

.Form {
    max-width: 900px;
    width: 100%;
    padding: 10px;
}

.Form input, .Form textarea {
    width: 100%;
    margin: 10px 0;
    border: 2px solid #3567e1;
    padding: 10px 0 10px 5px;
    border-radius: 10px;
}

.Form label {
    width: 100%;
    text-align: left;
}

.Form input[type="submit"] {
    background-color: #fff;

}

.Footer {
    padding: 20px;
    text-align: center;
}

/* Separate pages */

.NewsItem {
    position: relative;
}

.NewsItem__caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    transition: all 0.5s;
    color: black;
    font-weight: var(--font-weight-bold);
    font-size: var(--bigger-font-size);
    background-color: orange;
    padding: 10px;
}

.NewsItem__caption-onHover {
    opacity: 1;
    font-weight: var(--font-weight-normal);
}

/* Search */

.SearchButton {
    background-color: #3567e1;
    border: unset;
    color: white;
    cursor: pointer;
    border-radius: 20%;
    padding: 5px;
}

.SearchInput {
    border-color: #3567e1;
    padding: 10px;
}

.SearchInput:focus {
    outline: unset;
}

/* Vyhledavani */
.column25Search {
    float: left;
    width: 25%;
}

.column75Search {
    float: left;
    width: 75%;
}

.SearchHeader {
    text-align: center;
    font-size: var(--bigger-font-size);
}

.SearchItems {
    padding: 30px;
    margin-top: 200px;
}

.SearchCard {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: orange 10px 10px 40px;
}

.SearchHead {
    font-size: var(--bigger-font-size);
}

.SearchText {
    font-size: var(--smaller-font-size);
}

.SearchType {
    font-size: var(--smaller-font-size);
    font-weight: 200;

}

.SearchLink {
    margin-top: 20px;
    color: #3567e1;
}

.SearchLink::after {
    content: '  \25BA';
}


@media (max-width: 899px) {

    .column25Search {
        float: left;
        width: 100%;
    }

    .column75Search {
        float: left;
        width: 100%;
    }

    .SearchText {
        padding-bottom: 50px
    }
}

/* Kontakt */

.ContactHeading {
    margin-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.ContactHeadingName {
    padding-bottom: 20px;
}

.ContactItems {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
    padding: 30px;
}

.ContactName {
    padding-bottom: 20px;
}

.ContactCard {
    padding: 20px;
    box-shadow: orange 10px 10px 40px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ContactCard  div:first-child {
    margin-right: 30px;
}

.column25Contact {
    float: left;
    width: 25%;
}

.column75Contact {
    float: left;
    width: 75%;
    padding-left: 20px;
}

.ContactLinks {
    display: none;
    grid-template-columns: auto;
    margin-left: 200px;
    margin-top: 100px;
    position: sticky;
    max-width: 50%;
}

.CallAction {
    background-color: #c2cff0;
    padding: 30px;
}

.SocialIcons {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    padding-top: 50px;
}

.Facebook {
    background-color: #3567e1;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    max-width: 40px;
}

.Instagram {
    background-color: #3567e1;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    max-width: 40px;
}

.Twitter {
    background-color: #3567e1;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    max-width: 40px;
}

@media (min-width: 800px) {
    .ContactLinks {
        display: grid;
    }

    .ContactItems {
        grid-template-columns: auto auto;
    }
}

.map {
    width:100%;
    height:300px;
    border:0;
}

/* Novinky */
.post_card {
    box-shadow: orange 10px 10px 40px;
    display: flex;
    padding: 2rem;
    margin: 3rem;
    flex-direction: column;
}

.post_card_head {
    max-width: 600px;
    margin-bottom: 2rem;
}

.post_card_body_footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 3rem;
}

@media (min-width: 500px) {
    .post_card_body_footer {
        margin-left: 2rem;
    }
}

@media (min-width: 600px) {
    .post_card {
        flex-direction: row;
    }

    .post_card_head {
        max-width: 200px;
        margin-bottom: 0rem;
    }

    .post_card_body {
        margin-left: 2rem;
    }
}


/* CLANKY */
.article_card {
    box-shadow: orange 10px 10px 40px;
    display: flex;
    padding: 2rem;
    margin: 2rem;
    flex-direction: column;
}

.article_card_author {
    display: flex;
    align-items: center;
}

.article_card_content {
    padding-top: 2rem;
    margin: auto;
    width: 90%;
}

.article_card_content * {
    margin-bottom: 20px;
}

@media (min-width: 600px) {
    .article_card {
        margin: auto;
        width: 70%;
    }
}

.article_card_content_galery {
    display: flex;
    flex-wrap: wrap;
}

.article_card_content_galery figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 180px;
    margin: auto;
}

.article_card_content_galery img {
    max-width: 220px;
    max-height: 150px;
}

.article_card_content_galery figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.post_card_head img{
    width:100%;
    height: auto;
}


/* HELPERS */

.pb2 {
    padding-bottom: 2rem;
}

.pl2 {
    margin-left: 2rem;
}

.pr2 {
    padding-right: 2rem;
}

.pt2 {
    padding-top: 2rem;
}

.btn {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    border: 1px solid #3567e1;
    background-color: #3567e1;
    padding: 10px 35px;
    border-radius: 15px;
}

@media (min-width: 800px) {
    .ContactLinks {
        display: grid;
    }

    .ContactItems {
        grid-template-columns: auto auto;
    }
}



.order-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-form__title {
    text-align: center;
    margin-bottom: 20px;
}

.order-form__field {
    margin-bottom: 15px;
}

.order-form__label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.order-form__select,
.order-form__input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.order-form__button {
    width: 100%;
    padding: 10px;
    background-color: #ff6347;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.order-form__button:hover {
    background-color: #e5533d;
}

.order-form__image-container {
    text-align: center;
    margin-bottom: 15px;
}

.order-form__image {
    width: 100%;
    max-width: 250px;
    height: auto;
    display: none;
    border-radius: 10px;
}


